// Place all the styles related to the questionscontroller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray;
}

.question {
  color: none;
  border: solid 1px gray;
  padding: 6px;
  margin-bottom: 6px;
  width: 500px;
  background-color: #00FF7F;
  &:hover {
    background-color: black;
    color: #00FF7F
  }
}

.answer{
  color: #90EE90;
  border: solid 1px gray;
  padding: 6px;
  width: 500px;
  background-color: #008080;
  &:hover {
    background-color: black;
  }
}
